@media(min-width:768px){
 .card{display:none;}
 .desktop{
  display:block;
  color:white;
  font-size:2rem;
 }
}

/* stars */

.stars span{
 position:absolute;
 width:2px;
 height:2px;
 background:white;
 border-radius:50%;
 animation:twinkle 3s infinite;
}

@keyframes twinkle{
 0%,100%{opacity:.2; transform:scale(.8)}
 50%{opacity:1; transform:scale(1.4)}
}

/* card */

.card{
 position:relative;
 padding:50px 28px;
 text-align:center;
 border-radius:35px;
 backdrop-filter:blur(25px);
 background:rgba(255, 255, 255, 0.18);
 box-shadow:
 0 0 60px rgba(255,255,255,.5),
 inset 0 0 40px rgba(255,255,255,.3);
 animation:fade 1.5s ease;
}

/* text */

.title{
 font-size:2.5rem;
 color:white;
 text-shadow:
    0 0 5px #fff,
    0 0 10px #ff9ed6,
    0 0 20px #ff9ed6,
    0 0 30px #ff9ed6,
    0 0 40px #8ed2ff,
    0 0 55px #8ed2ff,
    0 0 75px #8ed2ff;
 letter-spacing:1px;
 text-shadow:0 0 25px white;
}


.subtitle{
 margin-top:12px;
 color:white;
 opacity:.9;
 font-size:1.1rem;
 margin-bottom:50px;
}

/* button */

button{
 padding:18px 42px;
 font-size:1.15rem;
 border:none;
 border-radius:50px;
 color:white;
 background:linear-gradient(45deg,$pink,$blue,$pink);
 background-size:300%;
 animation:shine 6s linear infinite;
 box-shadow:0 0 30px rgba(255,255,255,.7);
 transition:.3s;
}

button:active{transform:scale(.93);}

/* letter */

.letter{
 margin-top:45px;
 font-size:1.3rem;
 color:white;
 text-shadow:
    0 0 5px #fff,
    0 0 40px #8ed2ff,
    0 0 55px #0099ff,
    0 0 75px #8ed2ff;
 line-height:1.7;
 animation:reveal 1.2s ease;
}

.hidden{display:none;}

/* animations */

@keyframes shine{
 0%{background-position:0%}
 100%{background-position:300%}
}

@keyframes fade{
 from{opacity:0; transform:translateY(40px)}
 to{opacity:1; transform:translateY(0)}
}

@keyframes reveal{
 from{opacity:0; transform:scale(.85)}
 to{opacity:1; transform:scale(1)}
}